.hero-content {
    margin: auto;
    padding: 10.75rem 1.5rem;
    cursor: pointer;
}

.courses_box {
    background-color: #f5f5f5;
    padding: 60px 0px;
}

.courses_designs {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 0px 0px;
    border-radius: 5px;
}

.courses_imgs {
    width: 540px;
    object-fit: cover;
}

.courses_text {
    font-size: 16px !important;
    margin-top: 20px;
}

.courses_footer {
    padding: 20px;
    border-top: 1px solid #f1ecec;
}

.courses_link {
    padding: 4px 18px;
    font-size: 14px;
    background-color: #333;
    text-decoration: none;
    color: #fff;
}

.courses_link:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}


/* banner open  */
/* .slider_img {
    width: 100%;
    height: 100%;
}

.slider_text {
    color: #fff;
    margin-right: -72%;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

.slider_text span {
    top: -85%;
    color: #263bd6;
}

.slider_para {
    margin-bottom: 55%;
    margin-right: -72%;
}

.slider_text span {
    top: -85%;
    color: #263bd6;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .5;
}

.slider_link {
    padding: 15px 20px;
    background-color: #263bd6;
    color: #fff;

}

.slider_link:hover {
    background-color: #333;
    color: #fff;
    margin-bottom: 55%;
    margin-right: -72%;
    text-decoration: none;
}  */

/* banner closed */