.practical-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.practical-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.practical-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.practical-table th, .practical-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.practical-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.download-btn, .view-btn {
    padding: 6px 12px;
    margin: 3px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.download-btn {
    background-color: #00bcd4;
    color: white;
}

.view-btn, .download-btn {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .view-btn {
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
  }

.download-btn:hover, .view-btn:hover {
    opacity: 0.8;
}
