/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #f8f9fa;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  color: #2c3e50;
}

.nav-menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

/* Styled Buttons for Sign Up & Login */
.btn {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0056b3;
  color: #ffffff
}

/* Second Header */
.bottom-header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #2c3e50;
}

.bottom-header .nav-menu a {
  color: white;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;

}

.dropdown-menu {
  position: absolute;
  background: #2c3e50;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 5px 10px;
  color: #2c3e50;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #adadc4;
}
