.background {
    background-color: rgb(55, 81, 126);
    padding-top: 2px;
    padding-bottom: 65px;
}
.container {
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.btn a{
    color: #fff;
    text-decoration: none;
}